@model List<Artist>
@{
    ViewData["Title"] = "Artist Page";
}

<h2>Artist List</h2>
<a asp-controller="Artist" asp-action="Add">Add an Artst</a>
@*<a asp-controller="Movie" asp-action="Add">Add New Movie</a>*@
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Last or Group Name</th>
            <th>First Name</th>
            <th>Artist Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var artist in Model)
        {
        <tr>
            <td>@artist.ArtistLname</td>
            <td>@artist.ArtistFname</td>
            <td>@artist.ArtistTypeCodeNavigation.ArtistTypeDesc</td>
            <td> 
                <a asp-controller="Artist" asp-action="Edit" asp-route-id="@artist.ArtistId">Edit</a> | 
                <a asp-controller="Artist" asp-action="Delete" asp-route-id="@artist.ArtistId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
